<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IVS.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <!--<add name="IVS.MySettings.IVSConnectionString" connectionString="Provider=SQLOLEDB;Data Source=trafficed.net;Password=d1v3r10ns;User ID=ivs_test;Initial Catalog=IVS_3000"
            providerName="System.Data.OleDb" />-->

      <add name="IVS.MySettings.IVSConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\My Stuff\IVS\Identification Verification Systems\IVS.3000\IVS.3000.accdb"
          providerName="System.Data.OleDb" />
      
      
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <add name="EventLog"/>
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <applicationSettings>
        <IVS.MySettings>
            <setting name="LogLevel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ExternalURL" serializeAs="String">
                <value>23.235.13.234</value>
            </setting>
            <setting name="ExportToExternalServer" serializeAs="String">
                <value>0</value>
            </setting>
        </IVS.MySettings>
    </applicationSettings>
 
  
  
</configuration>
